<% if(message) { %>
    <div class="alert alert-success text-center my-2" id="alertMessage" role="alert">
        <%= message %>
    </div>
<% } %>
<% if(error) { %>
    <div class="alert alert-danger text-center my-2" id="alertMessage" role="alert">
        <%= error %>
    </div>
<% } %>
<div class="d-flex justify-content-center">
    <div class="card w-50 mt-5" style="background-color: lightgray;">
        <div class="card-body">
            <form action="/forgot-password" method="post">
                <div class="my-5 text-center">
                    <h4>Trouble logging in?</h4>
                </div>
                <div class="form-group my-4 d-flex justify-content-center">
                    <div class="input-group w-50">
                        <input type="email" class="form-control border border-1 border-dark py-2" name="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-20">Send Reset Password link</button>
                </div>
            </form>
        </div>
        <hr>
        <div class="text-center my-4">
            <strong><a href="/" class="text-primary" style="text-decoration : none">Create new account</a></strong>
        </div>
    </div>
    
</div>

<script>
    // Get the alert message element
    const alertMessage = document.getElementById('alertMessage');

    // Function to hide the alert message after 3 seconds
    setTimeout(() => {
        alertMessage.style.display = 'none';
    }, 3000);
</script>