<div class="text-center bg-dark text-white mt-5 h-100 py-5">
    <h1 class="my-5">Thank you for visiting!</h1>
    <p class="my-5">You have been successfully logged out.</p>
    <a href="/" class="btn btn-primary my-5">Back to Home</a>
</div>