<% if(message) { %>
    <div class="alert alert-danger text-center mt-4" id="alertMessage" role="alert">
        <%= message %>
    </div>
<% } %>
<div class="d-flex justify-content-center">
    <div class="card w-50 mt-5" style="background-color: lightgray;">
        <div class="card-body">
            <form action="/resetPassword" method="post">
                <div class="my-5 text-center">
                    <h4>Reset Password</h4>
                </div>
                <div class="form-group my-4 d-flex justify-content-center">
                    <div class="input-group w-50">
                        <input type="email" disabled value="<%= user.email %>" class="form-control border border-1 border-dark py-2" name="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group my-4 d-flex justify-content-center">
                    <div class="input-group w-50">
                        <input type="password" class="form-control border border-1 border-dark" name ="oldPassword" placeholder="Old Password" required>
                    </div>
                </div>
                <div class="form-group my-4 d-flex justify-content-center">
                    <div class="input-group w-50">
                        <input type="password" class="form-control border border-1 border-dark" name ="newPassword" placeholder="New Password" required>
                    </div>
                </div>
                <div >
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-20">Change Password</button>
                </div>
            </form>
        </div>
    </div>  
</div>

<script>
    // Get the alert message element
    const alertMessage = document.getElementById('alertMessage');

    // Function to hide the alert message after 2 seconds
    setTimeout(() => {
        alertMessage.style.display = 'none';
    }, 2000);
</script>